<header>
    <nav class="cabecalho">
        <div class="mobile-menu" data-menu>
            <ul>  
                <div class="itens">
                    <li class="nav-item"><a href="tarefas" class="nav-link">Tarefas</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="feed" class="nav-link">Clubes e Altetas</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="como-doar" class="nav-link">Como doar</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="assinatura" class="nav-link">Assinaturas</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="duvidas-frequentes" class="nav-link">Fale conosco</a></li>
                </div>
                <hr>
                <div class="btn-login-menu">
                    <a href="login-atleta"><button class="login-menu">Entrar</button></a>
                    <a href="cadastro-atleta"><button class="cadastro-menu">Cadastrar-se</button></a>
                </div>
            </ul>
        </div>
        <a href="/home"><img src="assets/logo/logo-horizontal.png" class="logo-invesport" ></a>
        </a>
    </nav>    
</header>