<header>
    <nav class="cabecalho">
      <button class="btn-menu" data-menu-btn>
        <i class="bx bx-menu" id="i-menu"></i>
      </button>
      <div class="mobile-menu" data-menu>
        <ul>
          <div class="itens">
            <li class="nav-item"><a href="/admin" class="nav-link">Usuários</a></li>
          </div>
          <hr />
          <div class="itens">
            <li class="nav-item">
              <a href="/beneficios-assinatura" class="nav-link">Assinatura</a>
            </li>
          </div>
          <hr />
          <div class="itens">
            <li class="nav-item">
              <a href="/tabela-tokens" class="nav-link">Tokens</a>
            </li>
          </div>
          <hr/>
          <a href="/logout" class="btn-sair">Sair</a>
        </ul>
      </div>
      <a href="/admin"
        ><img src="assets/logo/logo-horizontal.png" class="logo-invesport"
      /></a>
      <a href="/admin" class="btn-user"
        ><i class="bx bx-user-circle" id="i-user"></i
      ></a>
    </nav>
</header>