<header>
    <nav class="cabecalho">
        <button class="btn-menu" data-menu-btn><i class='bx bx-menu' id="i-menu"></i></button>
        <div class="mobile-menu" data-menu>
            <ul>  
                <div class="itens">
                    <li class="nav-item"><a href="/tarefas" class="nav-link">Tarefas</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="/feed" class="nav-link">Clubes e Altetas</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="/como-doar" class="nav-link">Como doar</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="/assinatura" class="nav-link">Assinaturas</a></li>
                </div>
                <hr>
                <div class="itens">
                    <li class="nav-item"><a href="/fale-conosco" class="nav-link">Fale conosco</a></li>
                </div>
                <hr>
            </ul>
        </div>
        <a href="/home"><img src="/assets/logo/logo-horizontal.png" class="logo-invesport" ></a>
        <a href="/perfil-atleta" class="btn-user" ><i class='bx bx-user-circle' id="i-user"></i></a>
    </nav>    
</header>