<footer>
    <div class="footer-card">
        <div class="header-footer-card">
            <h3>O invesport</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>

        <div class="accordion">
            <div>
                <a href="">Quem somos</a>
                <a href="">Encontre aqui</a>
            </div>
        </div>
    </div>

    <div class="footer-card">
        <div class="header-footer-card">
            <h3>Fale conosco</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>
        
        <div class="accordion">
            <div>
                <a href="duvidas-frequentes">Ajuda</a>
                <a href="duvidas-frequentes">Faça uma sugestão/feedback</a>
            </div>
        </div>
    </div>

    <div class="footer-card">
        <div class="header-footer-card">
            <h3>Trabalhe conosco</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>

        <div class="accordion">
            <div>
                <a href="trabalhe-conosco">Quero ajudar no projeto</a>
                <a href="trabalhe-conosco">Quero saber mais sobre o InveSport</a>
            </div>
        </div>
    </div>
    <div class="politica">
        <a href="#">Política de privacidade</a>
    </div>
</footer>