<footer>
    <div class="footer-card">
        <div class="header-footer-card">
            <h3>O InveSport</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>

        <div class="accordion">
            <div>
                <a href="#somos">Quem somos</a>
            </div>
        </div>
    </div>

    <div class="footer-card">
        <div class="header-footer-card">
            <h3>Fale conosco</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>
        
        <div class="accordion">
            <div>
                <a href="fale-conosco">Ajuda</a>
            </div>
        </div>
    </div>

    <div class="footer-card">
        <div class="header-footer-card">
            <h3>Trabalhe conosco</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>

        <div class="accordion">
            <div>
                <a href="trabalhe-conosco">Quero ajudar no projeto</a>
            </div>
        </div>
    </div>
    <div class="politica">
        <a href="/politica">Política de privacidade</a>
    </div>
    <div class="termos">
        <a href="/termos">Termos e condições</a>
    </div>
</footer>