<footer>
    <div class="footer-card">
        <div class="header-footer-card" id="invesport">
            <h3>O InveSport</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>

        <div class="accordion">
            <div id="quem-somos">
                <a href="#somos">Quem somos</a>
            </div>
        </div>
    </div>

    <div class="footer-card" >
        <div class="header-footer-card" id="fale-conosco">
            <h3>Fale conosco</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>
        
        <div class="accordion" >
            <div class="ajuda" id="ajuda">
                <a href="fale-conosco">Ajuda</a>
            </div>
        </div>
    </div>

    <div class="footer-card" >
        <div class="header-footer-card" id="trabalhe-conosco">
            <h3>Trabalhe conosco</h3>
            <i class='bx bx-chevron-down' style='color:#ffffff'  ></i>
        </div>

        <div class="accordion">
            <div id="quero-ajudar">
                <a href="trabalhe-conosco">Quero ajudar no projeto</a>
            </div>
        </div>
    </div>

    <div id="lgpd">
        <div class="politica" id="politica">
            <a href="/politica">Política de privacidade</a>
        </div>

        <div class="termos" id="termos">
            <a href="/termos">Termos e condições</a>
        </div>
    </div>
</footer>