:root{
    --laranja: #ff5b00;
    --azul: #14248a;
    --cinza: #333333;
    --margem: 30px 25px;
}

main{
    background-color: #ffffff;
    margin: 15px 0px 0px 0px;
}

.fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#div-principal{
    position: relative;
    height: 350px;
}

.titulo-principal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-principal{
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
}

.titulo-assinatura{
    color: var(--azul);
    text-align: center;
    font-size: 2rem;
    margin-top: 0%;
}

.container-selo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: var(--cinza);
    text-align: center;
    padding: var(--margem);
    width: calc(100% - 50px);
    margin-top: 6px;
}

.titulo-selo{
    font-size: 1.3rem;
    margin: 0px;
}

.destaque{
    color: var(--laranja);
    margin: 0px;
}

.selo{
    width: 17rem;
    height: 17rem;
}

.texto-selo{
    font-size: 1.1rem;
}

.container-doacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--laranja);
    color: #ffffff;
    text-align: center;
    padding: var(--margem);
    width: calc(100% - 50px);
    height: 265px;
}

.titulo-doacao{
    font-size: 1.3rem;
}

.doacao{
    width: 12rem;
}

.doacao-img{
    width: 14rem;
    height: 14rem;
}

.texto-doacao{
    font-size: 1.1rem;
}

.container-metas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: var(--cinza);
    text-align: center;
    padding: var(--margem);
    width: calc(100% - 50px);
    height: 265px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.titulo-metas{
    font-size: 1.3rem;
}

.metas{
    width: 12rem;
    color: #ff5b00;
    margin: 0px;
}

.metas-img{
    width: 14rem;
    height: 14rem;
    margin: 0px;
}

.texto-metas{
    font-size: 1.1rem;
}

.container-assine{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--laranja);
    color: #ffffff;
    text-align: center;
    padding: var(--margem);
    width: calc(100% - 50px);
    height: 265px;
}

.box-assinar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: var(--laranja);
    width: 23rem;
    height: 12.5rem;
    border-radius: 20px;
}

.titulo-assine{
   font-size: 2rem; 
   font-weight: bold;
   margin-bottom: 20px;
}

.preco{
    display: flex;
    align-items: baseline;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.mes{
    font-size: 0.8rem;
    font-weight: lighter;
}

.assinar{
    width: 13rem;
    height: 2.5rem;
    background-color: var(--azul);
    border: none;
    color: #ffffff;
    border-radius: 28px;
    font-size: 1.1rem;
}


@media screen and (max-width: 1023px){

    .titulo-principal{
        align-items: center;
        padding: 80px 50px;
    }

    .t-assine{
        background-color: #ffffff;
        color: var(--azul);
        width: 250px;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 30px;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
    }
}

@media screen and (min-width: 1024px){

    .fundo{
        height: 350px;
    }

    .titulo-principal{
        top: 6.5rem;
    }

    .t-assine{
        background-color: none;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.3rem;
    }


    .titulo-assinatura{
        font-size: 2.5rem;
    }

    .titulo-selo,
    .titulo-doacao,
    .titulo-metas,
    .titulo-assine{
        font-size: 1.8rem;
    }

    .container-selo,
    .container-doacao,
    .container-metas,
    .container-assine{
        padding: 1rem auto;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texto-selo,
    .texto-doacao,
    .texto-metas{
        font-size: 1.3rem
    }

    .texto-selo{
        margin-bottom: 1rem;
    }
}