main{
    margin: 90px 0px 0px 0px;
}

.topo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.como-doar{
    display: inline;
    flex-direction: row;
    align-self: center;
    color: black;
}

b{
    align-self: center;
    color: #ff5b00;
}

.boneco-duvida{
    width: 285px;
    height: 285px;
}

.branca{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    align-items: center;
    text-align: center;
    width: 100%;
}

.laranja{
    display: flex;
    flex-direction: column;
    background-color: #ff5b00;
    padding: 5px;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
}

.imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    border: none;
    border-radius: 20px;
    width: 340px;
    height: 180px;
    margin-bottom: 5px;
}

.apoie{
    width: 60%;
    height: 6vh;
    background-color: #ff5b00;
    border-radius: 30px;
    border: none;
}

.apoie > a{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: none;
}



#escanear-qr{
    width: 130px;
    height: 130px;
}