main {
    margin: 65px 50px 20px 50px;
}

.ajuda{
    font-size: 2.5rem;
    text-align: center;
    color: #ff5b00;
}

.pode-ajudar{
    margin-top: 8px;
    color: #14248a;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
    -range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.form-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email-duvidador{
    width: calc(100vw - 100px);
    border: 1px solid #ff5b00;
    border-radius: 5px;
    padding-left: 5px;
    line-height: 2rem;
    outline: none;
}

#assunto-duvida{
    width: calc(100vw - 100px);
    border: 1px solid #ff5b00;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

#duvida-enviar{
    background-color: #ff5b00;
    width: 10%;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
}

.duvidas-frequentes{
    color: #14248a;
    text-align: center;
    margin: 5px;
    font-size: 1.8rem;
}

#txtBusca{
    height: 30px;
    width: calc(100vw - 100px);
    margin-top: 6px;
    border: none;
    border-bottom: 1px solid #14248a;
    outline: none;
    background-color: white;
    padding-left: 10px;
}

.pergunta-1, .pergunta-2, .pergunta-3{
    align-items: left;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: calc(100vw - 100px);
}

.pergunta{
    color: #ff5b00;
}

.resposta{
    color: #14248a;
}

.mais-duvidas{
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ver-duvidas{
    background-color: #ff5b00;
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    width: 15%;
    height: 30%;
    padding: 10px;
    align-self: center;
}

.mensagem-erro{
    color: red;
    font-size: .9rem;
}