:root{
    --laranja: #ff5b00;
    --azul: #14248a;
    --cinza: #333333;
}

main{
    margin: 90px 25px 0px 25px;
}

h2 {
    text-align: center;
    color: var(--laranja);
    margin: 10px 0px;
}

#perfis{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.novos-perfis{
    font-size: 24px;
}

.apoie{
    text-align: center;
    color: var(--cinza);
    font-weight: normal;
}

.btn-atletas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--cinza);
    margin: 15px 0px;
}

.titulo{
    border-bottom: 3px solid var(--laranja);
}

.usuario-atleta{
    background-color: var(--laranja);
}

.usuario-atleta{
    border-radius: 15px;
    width: 38vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.foto-atleta{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0px;
}

.linha-nome{
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
}

.selo{
    width: 15px;
    height: 15px;
}

.cidade, .nome-atleta{
    color: #ffffff;
    font-size: 0.9em;
    text-decoration: none;
}

.nome-atleta{
    margin-bottom: 5px;
    white-space: nowrap; 
    width: 96px; 
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.ver-perfil{
    width: 75%;
    height: 2em;
    background-color: var(--laranja);
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuario-atleta > .ver-perfil{
    background-color: #ffffff;
    color: var(--laranja);
}

@media screen and (max-width: 1023px) {

    main{
        margin: 90px 25px 60px 25px;
    }

    #perfis{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: calc(100vw - 50px);
    }

    .barra-pesquisa{
        border: none;
        font-size: 1em;
        width: calc(100vw - 50px);
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .perfis-atletas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 45px;
        grid-row-gap: 15px;
    }

    .foto-atleta{
        width: 6em;
        height: 6em;
        border-radius: 50%;
        margin: 10px 0px;
    }

    .nome-atleta{ 
        width: 95px; 
        color: #ffffff;
        font-size: 1rem;
    }

    .cidade{
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 1024px) {

    main{
        margin: 90px 50px 60px 50px;
    }

    #perfis{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .barra-pesquisa{
        border: none;
        font-size: 1em;
        width: calc(100vw - 100px);
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .perfis-atletas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 30px;
    }

    .usuario-atleta{
        border-radius: 15px;
        width: 17vw;
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .foto-atleta{
        width: 10em;
        height: 10em;
        border-radius: 50%;
        margin: 20px 0px;
    }

    .nome-atleta{
        color: #ffffff;
        font-size: 1.2rem;
        text-align: center;
        width: 150px; 
        margin-bottom: 5px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cidade{
       font-size: 1rem;
       font-weight: 500; 
       margin-bottom: 15px;
    }

    .ver-perfil{
        width: 75%;
        height: 2.5em;
        background-color: var(--laranja);
        color: #ffffff;
        font-size: 1.2rem;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ver-perfil:hover{
        font-weight: 600;
    }

}