html , body {
    background-color: #f5f5f5;
    font-family: "Poppins", "Poppins", "Poppins", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    height: 60px;
    width: 100% ;
    z-index: 6;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    max-width: 100%;
    height: 60px;
}

.btn-menu{
    border: none;
    cursor: pointer;
}

.mobile-menu {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 5px 0;
    transform: translateX(-100%);
    transition: transform 400ms ease;
    background: #030e4f;
}

.mobile-menu.show {
    transform: translateX(0);
}

.itens{
    font-size: 15px;
    width: 100vw;
    padding: 10px 0px;  
}

ul{
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    text-align:left;
    justify-content: space-between;
}

.itens a {
    text-decoration: none;
    color: #ffffff;
}

li{
    list-style-type: none;
}

.logo-invesport{
    width: 150px;
    object-fit: cover;
}

#i-menu, #i-user{
    color: #ff5b00;
    font-size: 32px;
    background-color: #ffffff;
}

hr{
    border: 1px solid #ffffff;
}

.btn-login-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.login-menu{
    width: 42vw;
    height: 9vh;
    background-color: #ffffff;
    color: #030e4f;
    font-size: 1.3rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cadastro-menu{
    width: 42vw;
    height: 9vh;
    background-color: #ff5b00;
    color: #ffffff;
    font-size: 1.3rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.login-menu:hover{
    background-color: #ffffff;
    color: #ff5b00; 
    border-bottom: 3px solid #ff5b00;
}

.cadastro-menu:hover{
    border-bottom: 3px solid #ffffff;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #14248a;
    padding: 20px 15px;
    color: #f2f2f2;
}

.footer-card {
    padding: 10px 0;
    border-bottom: 2px solid #f2f2f2;
}

.header-footer-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-footer-card i {
    font-size: 2rem;
}

.accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 400ms ease;
}

.footer-card:hover .accordion {
    grid-template-rows: 1fr;
}

.accordion div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow: hidden;
}

.politica{
    align-self: center;
    margin-top: 15px;
}