body{
    margin: 75px 0px 25px 0px;
}

.titulo-admin{
    color: #14248a;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container-contador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#caixa-contador{
    display: flex;
    flex-direction: column;
    background-color: #ff5b00;
    border-radius: 15px;
    width: 160px;
    height: 160px;
    color: #ffff;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.t-contador{
    font-size: 1.2rem;
    font-weight: 600;
}

.n-contador{
    font-weight: 400;
}

#container-user{
    display: flex;
    flex-direction: column;

}

#caixa-user{
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 8px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 2px 3px  #c0c0c0aa;
}

.info-user{
    display: flex;
    flex-direction: row;
}

.config-user{
    display: flex;
    flex-direction: row-reverse;
    width: 40px;
    height: 40px;
}
