#banner-home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url("../assets/home/background-laranja.jpeg"); 
    background-size: 100vw 100vh;
}

.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 40px;
    border-radius: 10px;
    background-color: white;
    color: #333;
    margin: 50vh 25px 50px 25px;
}

.boneco{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 285px;
    height: 285px;
    transform: translate(-50%, -100%);
}

.texto-banner{
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
}

.btn-cadastro-home{
    width: 60%;
    height: 6vh;
    background-color: #ff5b00;
    border-radius: 30px;
    border: none;
}

.btn-cadastro-home > a{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: none;
}

#conheca{
    font-size: 30px;
    color: #333333;
    display: block;
    text-align: center;
    font-family: "Poppins Bold", "Poppins", "Poppins", sans-serif;
    margin: 25px;
}

#inve{
    color:#14248a;
}

#sport{
    color:#FF5B00;
}

.somos{
    background-color: #ffffff;
    padding: 15px;
    margin: 15px 0px 25px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}

.title-somos{
    font-family: "Poppins SemiBold", "Poppins", "Poppins", sans-serif;
    font-size: 20px;
    color: #333333;
    margin-bottom: 5px;
}

.text-somos{
    color: #333333;
    font-size: 12px;
    line-height: 19px;
}

#logo-somos{
    width: 102px;
    height: 105px;
    margin-right: 5px;
}

.encontre{
    color: #333333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5%;
}

.doacao, .agenda, .perfil, .assinatura{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    gap: 15px 25px;
    padding: 25px ;
}

.agenda, .assinatura{
    display: flex;
    flex-direction: row-reverse;
}

.doacao, .perfil{
    background-color: #ffffff;
}

.agenda, .assinatura{
    background-color: #ff5b00;
}

.i-doacao, .i-calendario-user, .i-foto, .i-plano{
    width: 150px;
    height: 150px;
}

.title-doacao, .title-perfil{
    font-size: 1.5rem;
    color: #333333;
}  

.title-agenda, .title-assinatura{
    color: #ffffff;
    font-size: 1.5rem;
    text-align: right;
}

.box-cadastrar-se{
    width: calc(100vw-25px);
    height: 160px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin: 25px;
}

#faca-parte{
    color: #333333;
    font-size: 22px;
}

#text-cadastrar{
    color: #333333;
    font-size: 16px;
    margin: 15px;
    padding: 0 10px;
}

#inve2{
    color: #14248a;
    font-size: 22px;
}

#sport2{
    color: #ff5b00;
    font-size: 22px;
}

#botao-cadastrar-ja{
    width: 90%;
    height: 50px;
    background-color: #FF5B00;
    border: 1px solid #FF5B00;
    border-radius: 8px;
}

#botao-cadastrar-ja>a{
    color: #ffffff;
    font-size: 21px;
    text-decoration-line: none;
}

.anuncio-mondiad{
    width: calc(100vw-25px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5b00;
}

.box-plano{
    background-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

#i-plano{
    width: 180px;
    margin-bottom: 20px;
}

#ass-destaque{
    color: #ff5b00;
    font-size: 27px;
    margin-bottom: 22px;
}

#topicos{
    color: #333333;
    font-size: 16px;
    text-align: left;
    margin-bottom: 22px;
}

#preco-plano{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #ff5b00;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

#mes{
    font-size: 12px;
}

#btn-assinar{
    width: 70%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #14248a;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width:1023px) {
    
    .veja{
        background-color: #FF5B00;
        border-radius: 15px;
        width: calc(100vw-25px);
        height: 160px;
        color: #ffffff;   
        padding-top: 15px; 
        margin: 40px 25px;
    }
    
    .veja>#text-veja{
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        margin-left: 15px;
    }
    
    .icon-veja{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        align-content: space-between;
        text-align: center;
        margin: 15px;
        font-size: 15px;
        font-weight: bold;
    }
    
    #veja-atleta, #veja-clubes, #veja-sobre{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .filtro-sobre{
        width: 75px;
        height: 75px;
    }

    .filtro-atleta, .filtro-clube{
        width: 65px;
        height: 65px;
    }
    
    .ver-sobre{
        background-color: #14248a;
        border-radius: 50%;
        padding: 5px;
    }
    
    .ver-sobre, .ver-clubes, .ver-atleta{
        margin-bottom: 5px;
    }

    #btn-ver{
        display: none;
    }

    .img-selo, .img-metas, .img-doacoes{
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    
    .banner{
        font-size: 1.2em;
        width: 28vw;
        height: 18vh;
    }

    .boneco{
        width: 385px;
        height: 385px;
    }
    
    .texto-banner{
        width: 20vw;
    }

    #conheca{
        font-size: 40px;    
    }

    .somos{
        height: 10em;
        margin: 50px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.35);
    }

    .title-somos{
        font-size: 36px;
        margin-bottom: 3%;
    }

    .p-somos{
        font-size: 22px;
        line-height: 25px;
    }

    #logo-somos{
        width: 132px;
        height: 135px;
    }

    .encontre{
        font-size: 40px;
        margin-bottom: 3%;
    }

    .doacao, .agenda, .perfil, .assinatura{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px 25px;
        padding: 30px;
        width: 25%;
        min-height: 250px;
    }

    .box-funcionalidades{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .title-doacao, .title-perfil, .title-agenda, .title-assinatura{
        text-align: center;
        font-size: 26px;
    }

    .i-doacao, .i-calendario-user, .i-foto, .i-plano{
        width: 170px;
        height: 170px;
    }

    .box-cadastrar-se{
        margin: 25px 50px;
        height: 200px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.35);
    }

    #faca-parte, #inve2, #sport2{
        font-size: 35px;
    }

    #text-cadastrar{
        font-size: 22px;
    }

    #botao-cadastrar-ja{
        width: 40%;
        height: 25%;
    }

    .veja{
        background-color: #ffffff;
        width: calc(100% - 100px);
        height: 500px;
        padding: 20px 50px;
        margin-top: 20px;
    }

    #text-veja{
        color: #ff5b00;
        font-size: 32px;
    }

    .icon-veja{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin: 20px 0px;
    }
    
    #veja-atleta, #veja-clubes, #veja-sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 320px;
        max-width: 25%;
        height: 375px;
        background-color: #14248a;
        border-radius: 15px;
    }

    .filtro-atleta, .filtro-clube, .filtro-sobre{
        width: 160px;
        height: 160px;
    }

    #text-atletas, #text-clubes, #text-sobre{
        color: #ffffff;
        font-size: 26px;
        font-weight: 600;

    }

    #btn-ver{
        width: 255px;
        height: 60px;
        background-color: #ff5b00;
        color: #ffffff;
        text-align: center;
        font-size: 22px;
        border-radius: 10px;
        margin-top: 30px;
        border: none;
    }

    #btn-ver>a{
        text-decoration: none;
    }

    .box-plano{
        margin: 50px;
        padding: 10px 70px;
    }

    #ass-destaque{
        margin-top: 15px;
    }
    
    #i-plano{
        display: none;
    }
    
    .img-metas, .img-doacoes{
        width: 290px;
        height: 280px;
    }

    .img-selo{
        width: 330px;
        height: 300px;
    }

    .ass-selo, .ass-metas, .ass-doacoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 300px;
    }

    .t-selo, .t-metas, .t-doacoes{
        color: #333333;
        font-size: 22px;
        font-weight: 600;
    }

    #preco-plano{
        font-size: 38px;
        font-weight: 600;
    }

    #btn-assinar{
        width: 265px;
        height: 60px;
        font-size: 20px;
    }
}