main {
    margin: 75px 25px 15px 25px;
} 

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px 20px 0px;
}

.t-user{
    color: #333333;
    font-size: 25px;
    margin-top: 5px;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

#btn-atleta{
    width: 110px;
    height: 37px;
    background-color: #14248a;
    color: #ffffff;
    font-size: 19px;
    border-radius: 8px;
    border: none;
}

#btn-clube{
    width: 110px;
    height: 37px;
    background-color: #ff5b00;
    color: #ffffff;
    font-size: 19px;
    border-radius: 8px;
    border: none;
}

.cpf, 
.senha {
    position:relative;
    width: 100%;
}

input {
    width: 100%;
    height: 2em;
    color: #333333;
    font-size: inherit;
    font-family: inherit;
    background-color: #ffffff;
    border: none;
    transition: background-color 0.5s ease-in-out;
    padding-left: 5px;
}

.campo-cpf , .campo-senha{
    border-bottom: 1px solid #ff5b00;
}
  
.campo-cpf:focus,
.campo-senha:focus {
    outline: none;
}
  
.campo-cpf::placeholder,
.campo-senha::placeholder {
    color: #333333;
    padding: 10px;
}
  
.cpf>span ,
.senha>span {
    position: absolute;
    background-color: #ff5b00;
    transition: transform 0.5s ease;
}

.bottom,
.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}
  
.left,
.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
  }
  
.bottom {
    bottom: 0;
    transform-origin: bottom right;
  }
  
.campo-cpf:focus ~ .bottom,
.campo-senha:focus ~ .bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  
.right {
    right: 0;
    transform-origin: top right;
  }
  
.campo-cpf:focus ~ .right ,
.campo-senha:focus ~ .right{
    transform-origin: bottom right;
    transform: scaleY(1);
  }
  
.top {
    top: 0;
    transform-origin: top left;
}
  
.campo-cpf:focus ~ .top,
.campo-senha:focus ~ .top {
    transform-origin: top right;
    transform: scaleX(1);
}
  
.left {
    left: 0;
    transform-origin: bottom left;
}
  
.campo-cpf:focus ~ .left,
.campo-senha:focus ~ .left {
    transform-origin: top left;
    transform: scaleY(1);
}
  

.obrigatorio{
    color: #333333;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 20px;
}

.asteristico{
    color: red;
}

.campo-cpf>input, .campo-senha>input{
    width: 100vw;
    line-height: 2rem;
    background-color: #ffffff;
    color: #333333;
    font-size: 1.1rem;
    border: none;
    border-radius: 3px;
    outline: 2px solid #7d7d7d;
    margin-bottom: 15px;
    padding-left: 0.7em;
}

.titulo-cpf, .titulo-senha{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: #333333;
    margin-top: 10px;
}

.campo-cpf>input:focus-visible, .campo-senha>input:focus-visible{
    outline: 2px solid #ff5b00;
}

.campo-cpf>input:hover, .campo-senha>input:hover{
    outline: 2px solid #ff5b00;
}

.mensagem-erro{
    font-size: .9rem;
    color: red;
}

.esqueceu-senha {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: #333333;
}

.entrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top: 15px;
}

#entrar{
    width: 55%;
    height: 45px;
    background-color: #ff5b00;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    margin-bottom: 20px;
}

.ou{
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
}

.btn-entrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.btn-google, .btn-facebook{
    width: 2.5rem;
    height: 2.5rem;   
}

.btn-google{
    background-color: #0585FF;
    border: 1px solid #0585FF;
    border-radius: 5px;
}

.btn-facebook{
    background-color: #104FC3;
    border: 1px solid #104FC3;
    border-radius: 5px;
    margin-left: 5%;
}

#icon-google, #icon-facebook{
    font-size: 1.5rem;
    color: #ffffff;
} */

.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.cadastrar{
    font-size: 16px;
    color: #333333;
    margin: 10px 0px;
    display: block;
    align-items: center;
    text-align: center;
}

.cadastre{
    font: 16px;
    color: #14248a;
}

@media screen and (max-width: 1023px){

    .i-user{
        width: 85px;
        height: 85px;
        margin-top: 10px;
    }

    .span-user{
        background-color:#14248a;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 105px;
        height: 105px;
    }

    .senha{
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1024px){

    .container{
        margin-top: 15px;
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
        height: 100vh;
        background-image: url("../assets/home/background2.jpeg"); 
        background-size: 100vw 100vh;
        margin: 0px;
        margin-top: 3rem;
    }

    .container-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;
        height: 90%;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 4px -1px 6px -2px rgba(0,0,0,0.45);
    }

    .i-user{
        width: 90px;
        height: 90px;
        margin-top: 10px;
    }

    .span-user{
        background-color:#14248a;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
    }

    .t-user{
        font-size: 2em;
    }

    /* #btn-atleta, #btn-clube{
        width: 150px;
        height: 40px;
        font-size: 1.4em;
    } */

    .campo-cpf, .campo-senha{
        border-bottom: 1px solid #ff5b00;
        width: 100%;
    }

    .senha{
        margin-bottom: 30px;
    }

    .esqueceu-senha {
        font-size: 0.9em;
    }

    #entrar{
        width: 35%;
        height: 45px;
        background-color: #ff5b00;
        border-radius: 10px;
        color: #ffffff;
        font-size: 1.2rem;
        text-decoration: none;
        border: none;
    }

    .cadastrar{
        margin: 0px 0px 20px 0px;
    }
}

.senha i {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.senha i.hide {
    display: none;
}