:root {
    --laranja: #ff5b00;
    --azul: #14248a;
    --cinza: #333333;
    --branco: #ffffff;
    --preto: #000000;
}

main {
    background-color: var(--branco);
}

.pic-perfil {
    padding-top: 60px;
    position: relative;
    width: 100vw;
    height: 210px;
    background-color: var(--branco);
}

.capa-perfil {
    width: 100vw;
    height: 140px;
}

.foto-perfil {
    z-index: 4;
    position: absolute;
    top: 7em;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    width: 9em;
    height: 9em;
}

.titulo-perfil {
    text-align: center;
    color: var(--cinza);
}

.redes-sociais {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--branco);
    font-size: 2rem;
    padding-bottom: 15px;
    gap: 10px;
}

.bio {
    width: 100vw;
    background-color: var(--branco)
}

.text-clube,
.text-esporte {
    font-size: 16px;
    font-weight: normal;
    color: var(--cinza);
}

.t-clube,
.t-esporte {
    font-size: 18px;
    color: var(--cinza);
    font-family: "Popins SemiBold", "Popins", sans-serif;
}

.clube,
.esporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.info-bio {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.b-doar {
    width: 38vw;
    height: 2.3rem;
    border-radius: 10px;
    border: 1px solid var(--laranja);
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 16px;
    letter-spacing: 1px;
}

.b-doar>a {
    text-decoration: none;
    color: var(--branco);
    font-size: 16px;
    letter-spacing: 1px;
}

.button-bio {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
}

.meta-icone {
    display: flex;
    flex-direction: row;
}

#target {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 3px;
    font-size: 2.8rem;
}

.ls-animated {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15px;
    width: 85%;
    height: 8px;
    border: 5px solid var(--laranja);
    background-color: var(--laranja);
    border-radius: 50px;
    margin: 0;
}

.info-meta {
    display: flex;
    flex-direction: column;
}

.desc-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-meta {
    width: 100vw;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linha-bio {
    margin-top: 30px;
    border: 2px solid var(--laranja);
}

.tabs {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--branco);
}

#t-publicacoes,
#t-sobre,
#t-doacoes,
#t-metas {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

/* PORTFOLIO */

#portfolio {
    display: none;
}

#portfolio.active {
    display: block;
}

#t-publicacoes.active {
    color: var(--laranja);
}

.feed {
    width: 100%;
}

.momentos {
    color: var(--laranja);
    font-size: 1rem;
    font-weight: 500;
}

.legenda {
    font-size: 1rem;
    color: var(--cinza);
    text-align: justify;
    margin: 5px 25px 15px 25px;
}

.container-momentos {
    margin: 15px 25px;
}

.grid-portifolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-portifolio img {
    width: 110px;
    height: 110px;
}

/* MENU SOBRE */

#sobre {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#sobre.active {
    display: flex;
}

#t-sobre.active {
    color: var(--laranja);
}

.titulo-2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
}

.titulo-2 b{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
}

.Sobre-usuario {
    color: var(--laranja);
    font-size: 1rem;
}

#itens-sobre{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 350px;
}

#itens-sobre label{
    font-size: 1.2rem;
}

#itens-sobre p{
    border: 1px solid #ff5b00;
    border-radius: 8px;
    padding: 4px;
}

#itens-sobre input{
    border: 1px solid #ff5b00;
    padding: 4px;
    border-radius: 5px;
}

#Desc-usuario{
    width: 350px;
    display: flex;
    resize: none;
    flex-direction: column;
    align-self: center;
    margin: 8px 2px 8px 2px;
    border: 1px solid #ff5b00;
    border-radius: 8px;
    padding: 8px;
}

.att-sobre{
    border: none;
    background-color:#ff5b00;
    padding: 8px;
    border-radius: 16px;
    color: #ffffff;
    align-self: flex-end;
}

/* MENU DOAÇÃO */
#doacao{
    margin: 20px 12px 0px 12px;
    padding: 8px 24px 8px 24px;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#doacao.active{
    display: flex;
}

#t-doacoes.active{
    color: #ff5b00;
}

.titulo-3{
    font-size: 1.4rem;
    text-align: center;
    margin: 4px 0px 0px 0px;
}

.container-form{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 16px;
}

.form-gerar-pix{
    display: flex;
    flex-direction: column;
}

.label-chave-pix{
    font: 2rem;
    font-weight: 600;
    margin-bottom: 4px;
    text-align: center;
}

.tipos-chave{
    margin-bottom: 4px;
}

.gerar-btn{
    padding: 6px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    background-color: #1406a7;
    color: white;
    margin-top: 8px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}

#input-pix-key{
    max-width: 100%;
    border: 1px solid #1406a7;
    border-radius: 8px;
    padding: 2px;
    margin-top: 5px;
}

.chave-pix-form{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.qr-code-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagem-qr{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cod-qr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo-cod{
    width: 80%;
}

.enviar-cod{
    width: 80px;
}

/* MENU METAS*/

#meta {
    display: none;
}

#meta.active {
    display: block;
}

#t-metas.active {
    color: var(--laranja);
}

.anda-meta {
    font-size: 1rem;
}

.add-meta {
    font-family: "Poppins SemiBold", "Poppins", "Poppins", sans-serif;
}

.linha-meta {
    border: 1px solid var(--laranja);
}

.row {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#inputbox {
    padding: 2px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid var(--azul);
}

#inputbox2 {
    padding: 2px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid var(--azul);
}

#botao-add {
    width: 80px;
    color: var(--branco);
    background-color: var(--laranja);
    border: none;
    border-radius: 5px;
}


@media screen and (max-width: 1023px) {

    /* MENU SOBRE */

    #sobre {
        margin: 20px;
    }

    /* MENU DOAÇÃO */

    #doacao {
        margin: 20px;
    }

    /* MENU METAS*/

    #meta {
        margin: 20px;
    }
}

@media screen and (min-width: 1024px) {

    main {
        background-color: #f1f1f1;
    }

    .tabs {
        width: 100vw;
        padding: 10px 50px;
    }

    .bio {
        width: 100vw;
        background-color: #ffffff;
    }

    .info-bio {
        width: calc(100vw - 100px);
    }

    .button-bio {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .b-doar {
        width: 30vw;
    }

    .info-meta {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ls-animated {
        width: 60vw;
    }

    .container {
        width: 100vw;
    }

    .tabs {
        width: calc(100vw - 100px);
    }

    #t-publicacoes:hover,
    #t-sobre:hover,
    #t-doacoes:hover,
    #t-metas:hover {
        color: var(--laranja);
    }

    .feed {
        width: 35vw;
    }

    .tab-content {
        display: flex;
        width: 100vw;
    }

    .legenda {
        font-size: 1.3rem;
        margin: 5px 0px 15px 25px;
    }

    .destaque {
        width: calc(100vw - 100px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 50px;
    }

    .container-momentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .momentos {
        font-size: 2rem;
        text-align: center;
    }

    .grid-portifolio {
        margin: 15px 25px;
        row-gap: 20px;
        column-gap: 28vw;
    }

    .grid-portifolio img {
        width: 300px;
        height: 300px;
    }

    /* MENU SOBRE */

    #sobre {
        width: 100vw;
        padding: 15px 50px;
    }

    .titulo-2 {
        font-size: 1rem;
    }

    .Sobre-usuario {
        color: var(--laranja);
        font-size: 1rem;
    }

    .Desc-usuario {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    /* MENU DOAÇÃO */

    #doacao {
        display: none;
        position: relative;
        width: 100vw;
        padding: 15px 50px;
        justify-content: center;
        align-items: center;
    }

    .titulo-3 {
        font-size: 1.2rem;
    }

    .label-chave-pix {
        text-align: center;
    }

    .gerar-btn {
        width: 15rem;
        height: 2.5rem;
        border-radius: 4px;
        background-color: var(--azul);
        font-size: 1.2rem;
        color: var(--branco);
        align-items: center;
        margin: 15px 0px;
    }

    .gerar-btn:focus {
        outline: none;
    }

    #input-name,
    #input-city,
    #input-amount,
    #input-reference {
        width: 50vw;
        height: 1.8rem;
        background-color: var(--branco);
        font-size: 1rem;
        padding-left: 5px;
        border: none;
        border-bottom: 1px solid var(--laranja);
        outline: none;
        margin: 5px 0px 15px 0px;
    }

    #container-gerar,
    .qr-code-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* MENU METAS*/

    #meta {
        width: 100vw;
        padding: 15px 50px;
    }

    .anda-meta {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        margin: 10px 0px 20px 0px;
    }

    .container-add-meta, .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    #inputbox, #inputbox2 {
        padding: 5px;
        width: 50vw;
        height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 10px;
        margin-top: 5px;
        border-radius: 0px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--azul);
    }

    #botao-add {
        width: 10vw;
        height: 2rem;
        font-size: 1.2rem;
        color: var(--branco);
        background-color: var(--laranja);
        border: none;
        border-radius: 5px;
    }

}