main{
    background-color: #ffffff;
}

.pic-perfil{   
    padding-top: 60px;
    position: relative;
    width: 100vw;
    height: 210px;
    background-color: #ffffff;
}

.capa-perfil{
    width: 100vw;
    height: 140px;
    background-color: #d8d8d8;
}

.foto-perfil{
    z-index: 4;
    position: absolute;
    top: 7em;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    width: 9em;
    height: 9em;
}

.titulo-perfil{
    text-align: center;
    color: #333333;
}

.bio{
    width: calc( 100vw - 50px);
    background-color: #ffffff;
    margin: 0 25px 0 25px;
}

.edit-perfil{
    display: flex;
    justify-content: right;
    margin: 5px;
    padding: 5px;
}

.text-clube, .text-esporte{
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}

.t-clube, .t-esporte{
    font-size: 18px;
    color: #333333;
    font-family: "Popins SemiBold", "Popins", sans-serif;
}

.clube, .esporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.info-bio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.b-doar {
    width: 38vw;
    height: 2.3rem;
    border-radius: 10px;
    border: 1px solid #ff5b00;
    background-color: #ff5b00;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
}

.b-doar>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
}

.button-bio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
}

.meta-icone{
    display: flex;
    flex-direction: row;
}

#target{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 3px;
    font-size: 2.8rem;
}

.ls-animated{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15px;
    width: 85%;
    height: 8px;
    border: 5px solid #ff5b00;
    background-color: #ff5b00;
    border-radius: 50px;
    margin: 0;
}

.info-meta{
    display: flex;
    flex-direction: column;
}

.desc-meta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

.valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-meta{
    width: calc( 100vw - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linha-bio{
    margin-top: 30px;
    border: 2px solid #ff5b00
}

.tabs{
    width: calc( 100vw - 50px);
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 10px 25px;
}

#t-publicacoes, #t-sobre, #t-doacoes, #t-metas{
    text-decoration: none;
    color:#333333;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

/* PORTFOLIO */

#portfolio{
    display: none;
}

#portfolio.active{
    display: block;
}

#t-publicacoes.active{
    color: #ff5b00;
}

.feed{
    max-height: 400px;
    width: 100%;
    background-color: #ececec;
}

.fotos-grid{
    background-color: #ececec;
}

.momentos{
    color: #ff5b00;
    font-size: 1rem;
    font-weight: 500;
}

.add-legenda{
    font-size: 14px;
    color: #333333;
    text-align: justify;
    margin: 5px 25px 15px 25px;
}

.container-momentos{
    margin: 15px 25px;
    width: calc(100vw - 50px);
}

.grid-portifolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-portifolio img{
    width: 110px;
    height: 110px;
}

/* MENU SOBRE */

#sobre{
    display: none;
    flex-direction: column;
    margin: 20px;
}

#sobre.active{
    display: flex;
}

#t-sobre.active{
    color: #ff5b00;
}

.titulo-2{
    font-size: 1rem;
}

.Sobre-usuario{
    color: #ff5b00;
    font-size: 1rem;
}

#itens-sobre{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 200px;
    margin-bottom: 15px;
}

.Desc-usuario{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* MENU DOAÇÃO */
#doacao{
    margin: 20px 12px 0px 12px;
    padding: 8px 16px 8px 16px;
    display: none;
    flex-direction: column;
    position: relative;
}

#doacao.active{
    display: flex;
}

#t-doacoes.active{
    color: #ff5b00;
}

.titulo-3{
    font-size: 1.4rem;
    text-align: center;
    margin: 4px 0px 0px 0px;
}

.container-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 16px 16px 0px 16px;
}

.form-gerar-pix{
    display: flex;
    flex-direction: column;
}

.label-chave-pix{
    font: 2rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.tipos-chave{
    margin-bottom: 4px;
}

.gerar-btn{
    padding: 6px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    background-color: #1406a7;
    color: white;
    margin-top: 8px;
    max-width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}

#input-pix-key{
    max-width: 100%;
    border: 1px solid #1406a7;
    border-radius: 8px;
    padding: 2px;
    margin-top: 5px;
}

.chave-pix-form{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.qr-code-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagem-qr{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coins-png{
    width: 150px;
    height: 150px;
}

#cod-qr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo-cod{
    width: 80%;
}

.enviar-cod{
    width: 80px;
}

/* MENU METAS*/

#meta{
    margin: 20px;
    display: none;
}

#meta.active{
    display: block;
}

#t-metas.active{
    color: #ff5b00;
}

.anda-meta{
    font-size: 1rem;
}

.add-meta{
    font-family: "Poppins SemiBold", "Poppins", "Poppins", sans-serif;
}

.linha-meta{
    border: 1px solid #ff9257;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#inputbox{
    padding: 2px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #1406a7;
}

#inputbox2{
    padding: 2px;
    width: 70%;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #1406a7;
}

#botao-add{
    width: 80px;
    color: white;
    background-color: #ff5b00;
    border: none;
    border-radius: 5px;
}
