:root {
    --laranja: #ff5b00;
    --azul: #14248a;
    --cinza: #333333;
    --branco: #ffffff;
    --preto: #000000;
}

main {
    margin: 90px 0px 0px 0px;
}

.topo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre {
    font-size: 1.8rem;
    display: inline;
    flex-direction: row;
    align-self: center;
}

.inve {
    color: #1422a7;
}

.sport {
    color: #ff6600;
}

.apresenta {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    width: 100%;
}

.ajudar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.como {
    font-size: 1.8rem;
    display: inline;
    flex-direction: row;
    align-self: center;
}

.boneco-duvida {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 360px;
}

@media screen and (max-width: 1023px) {
    main {
        margin: 70px 25px 30px 25px;
    }
}

@media screen and (min-width: 1024px) {

    main {
        margin: 100px 50px 30px 50px;
    }

    .sobre, .como {
        font-size: 2.5rem;
    }

    .apresenta {
        font-size: 1.1rem;
    }

    .como{
        margin: 25px 0px;
    }

    .container-como{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-size: 1.1rem;
    }

}