<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="css/cadastro-clube.css">
    <title>Cadastro | Clube</title>
</head>

<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <div class="container">
                <img src="assets/cadastro-login/time-circulo.png" class="i-clube">
                <h2 class="t-clube">Clube</h2>
            </div>

            <div class="btn">
                <a href="cadastro-clube"><button id="btn-clube">Clube</button></a>
                <a href="cadastro-atleta"><button id="btn-atleta">Atleta</button></a>
            </div>
            <span class="obrigatorio">
                <p id="asteristico">*</p>Campo obrigatório
            </span>
            <form class="formulario">
                <label class="titulo">Nome do clube<p class="asteristico">*</p></label>
                <div class="nome">
                    <input type="text" placeholder="Insira o nome do clube" class="campo">
                    
                </div>

                <label class="titulo">CNPJ do Clube<p class="asteristico">*</p></label>
                <div class="cnpj">
                    <input type="number" placeholder="Insira o CNPJ do Clube" class="campo">
                    
                </div>

                <label class="titulo">Site</label>
                <div class="site">
                    <input type="url" placeholder="Insira a URL do seu site" class="campo">
                    
                </div>

                <label class="titulo">Cidade<p class="asteristico">*</p></label>
                <div class="cidade">
                    <input type="text" placeholder="Insira sua cidade" class="campo">
                    
                </div>

                <label for="lista-estados" class="titulo">Estado<p class="asteristico">*</p></label>
                <div class="estado">
                    <input type="text" placeholder="Insira seu estado" class="campo">
                    
                </div>
                <!-- <select name="estados" id="lista-estados">
                <option value="selecione" id="selecione">Selecione um estado</option>
                <option value="acre">Acre- AC</option>
                <option value="alagoas">Alagoas - AL</option>
                <option value="amapa">Amapá - AP</option>
                <option value="amazonas">Amazonas - AM</option>
                <option value="bahia">Bahia - BA</option>
                <option value="ceara">Caerá - CE</option>
                <option value="distrito-federal">Distrito Federal - DF</option>
                <option value="espirito-santo">Espiríto Santo - ES</option>
                <option value="goias">Goiás - GO</option>
                <option value="maranhao">Maranhão - MA</option>
                <option value="mato-grosso">Mato Grosso - MT</option>
                <option value="mato-grosso-do-sul">Mato Grosso do Sul - MS</option>
                <option value="minas-gerais">Minas Gerais - MG</option>
                <option value="para">Pará - PA</option>
                <option value="paraiba">Paraíba - PB</option>
                <option value="parana">Paraná - PR</option>
                <option value="pernambuco">Pernambuco - PE</option>
                <option value="piaui">Piauí - PI</option>
                <option value="rio-de-janeiro">Rio de Janeiro - RJ</option>
                <option value="rio-grande-do-norte">Rio Grande do Norte - RN</option>
                <option value="rio-grande-do-sul">Rio Grande do Sul - RS</option>
                <option value="rondonia">Rondônia - RO</option>
                <option value="roraima">Roraima - RR</option>
                <option value="santa-catarina">Santa Catariana - SC</option>
                <option value="sao-paulo">São Paulo - SP</option>
                <option value="sergipe">Sergipe - SE</option>
                <option value="tocantins">Tocantins - TO</option>
            </select> -->

                <label class="titulo">E-mail<p class="asteristico">*</p></label>
                <div class="email">
                    <input type="email" placeholder="Insira seu e-mail" class="campo">
                    
                </div>

                <!--<label class="titulo-celular">Celular</label>
                <div class="celular">
                    <input type="tel" placeholder="Insira seu celular" class="campo-celular">
                    
                </div> -->

                <label class="titulo">Senha<p class="asteristico">*</p></label>
                <div class="senha">
                    <input type="password" placeholder="Crie sua senha" class="campo">
                    
                </div>

                <label class="titulo">Repita a senha<p class="asteristico">*</p></label>
                <div class="repita">
                    <input type="password" placeholder="Insira sua senha" class="campo">
                    
                </div>
            </form>
            <div class="cadastro">
                <input type="submit" value="CADASTRAR" id="cadastrar">
            </div>
            <span id="cadastrado">Já possui cadastro? <a href="login-atleta">Entre aqui</a></span>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>