<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="como-doar.css">
    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <div>
        <h2>
            Como posso <b>doar</b>?
        </h2>
        <img src="/assets/doubt.png" alt="duvida">
        </div>

        <div>
            <h3>1-Passo</h3>
            <p>No menu, clique em "Clubes e Atletas</p>
        </div>
    </main>

    <%- include('../templates/rodape.ejs') %>
</body>
</html>