<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="como-doar.css">
    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <main>

    </main>

    <%- include('../templates/rodape.ejs') %>
</body>
</html>