<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="css/duvidas-frequentes.css">
    <title>InveSport</title>
</head>

<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/header.ejs') %>
        <main>
            <h2>Como podemos ajudar? </h2>
            <div id="divBusca">
                <input type="text" id="txtBusca" placeholder="Buscar..." />
            </div>
            <h1>Dúvidas frequentes</h1>
            <h4>Perdi minha senha de login, o que faço? </h4>
            <p>
                > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </p>
            <h4>Como doar para clubes e atletas? </h4>
            <p>
                > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </p>
            <h4>Como as metas funcionam? </h4>
            <p>
                > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </p>
            <button> mais dúvidas</button>

        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>