<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="feed-clube.css">
    <title>Invesport | Feed</title>
</head>

<%- include('../templates/head.ejs/') %>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <input type="search" placeholder="Pesquise aqui" class="pesquisa">
            <h2 class="novo-perfil">Conheça novos perfis</h2>
            <div class="container">
                <img src="assets/icon_clube.png" id="i-clube">
            </div> <br>
            <h2 class="t-clubes">Clubes</h2> <br>

            <div class="box-pClubes">
                <img src="assets/ofc.png" id="clube_1">
                <img src="assets/selo_invesport.jpeg" class="selo">
                <a href="">
                    <h4 class="nome-perfil">O.F.C.</h4>
                </a> <br>
                <h4 class="nome-lugar">Osasco-SP</h4>
                <button class="ver-perfil">Ver perfil</button>
            </div>

            <div class="box-pClubes">
                <img src="assets/Fluminense.jpg" id="clube_1">
                <img src="assets/selo_invesport.jpeg" class="selo">
                <a href="">
                    <h4 class="nome-perfil">Fluminense</h4>
                </a> <br>
                <h4 class="nome-lugar">Rio de Janeiro-RJ</h4>
                <button class="ver-perfil">Ver perfil</button>
            </div>

            <div class="box-pClubes">
                <img src="assets/logo_BVC.png" id="clube_1">
                <img src="assets/selo_invesport.jpeg" class="selo">
                <a href="">
                    <h4 class="nome-perfil">Volleyball Club</h4>
                </a> <br>
                <h4 class="nome-lugar">Barueri-SP</h4>
                <button class="ver-perfil">Ver perfil</button>
            </div>

            <div class="box-pClubes">
                <img src="assets/CAM.jpg" id="clube_1">
                <a href="">
                    <h4 class="nome-perfil">Atlético Mineiro</h4>
                </a> <br>
                <h4 class="nome-lugar">Belo Horizonte-MG</h4>
                <button class="ver-perfil">Ver perfil</button>
            </div>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>