<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs/') %>
    <link rel="stylesheet" href="/css/feed-clube.css">
    <title>Invesport | Feed</title>
</head>

<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <div class="barra-pesquisa">
            <a href="#" class="link-lupa"><i class='bx bx-search' id="lupa"></i></a>
            <input type="search" placeholder="Pesquise aqui" class="pesquisa">
        </div>
        <h2 class="novos-perfis">Conheça novos perfis</h2>
        <h4 class="apoie">Apoie o esporte brasileiro!</h4>

        <section id="atletas">
            <div class="altetas-direita">
                <a href="/feed-atleta" class="btn-atletas">
                    <img src="/assets/home/atleta-circulo.png" class="icone-atleta">
                    <h3 class="titulo-atletas">Atletas</h3>
                </a>

                <div class="usuario">
                    <img src="/assets/atletas/atleta_1.jpg" class="foto-clube">
                    <span class="linha-clube">
                        <h4 class="nome-clube">Oeste F.C.</h4>
                        <img src="/assets/selo_invesport.png" class="selo">
                    </span>
                    <h4 class="cidade">Osasco-SP</h4>
                    <a href="/perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>

                <div class="usuario">
                    <img src="assets/atletas/atleta_2.jpg" class="foto-clube">
                    <span class="linha-clube">
                        <h4 class="nome-clube">Barueri V.C.</h4>
                        <img src="assets/selo_invesport.png" class="selo">
                    </span>
                    <h4 class="cidade">Barueri-SP</h4>
                    <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>

                <div class="usuario">
                    <img src="assets/times/Fluminense.jpg" class="foto-clube">
                    <span class="linha-clube">
                        <h4 class="nome-clube">Fluminense</h4>
                        <img src="assets/selo_invesport.png" class="selo">
                    </span>
                    <h4 class="cidade">Rio de Janeiro-RJ</h4>
                    <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>

                <div class="usuario">
                    <img src="/assets/atleta_4.png" class="foto-clube">
                    <h4 class="nome-clube">Atlético Mineiro</h4>
                    <h4 class="cidade">Belo Horizonte-MG</h4>
                    <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>
            </div>

            <div class="atletas-esquerda">
                <a href="feed-clube" class="btn-clubes">
                    <img src="/assets/home/time-circulo.png" class="icone-clubes">
                    <h3 class="titulo-clubes">Clubes</h3>
                </a>

                <div class="usuario">
                    <img src="assets/atletas/atleta_1.jpg" class="foto-clube">
                    <span class="linha-clube">
                        <h4 class="nome-clube">Oeste F.C.</h4>
                        <img src="assets/selo_invesport.png" class="selo">
                    </span>
                    <h4 class="cidade">Osasco-SP</h4>
                    <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>

                <div class="usuario">
                    <img src="assets/atletas/atleta_2.jpg" class="foto-clube">
                    <span class="linha-clube">
                        <h4 class="nome-clube">Barueri V.C.</h4>
                        <img src="assets/selo_invesport.png" class="selo">
                    </span>
                    <h4 class="cidade">Barueri-SP</h4>
                    <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>

                <div class="usuario">
                    <img src="assets/times/Fluminense.jpg" class="foto-clube">
                    <span class="linha-clube">
                        <h4 class="nome-clube">Fluminense</h4>
                        <img src="assets/selo_invesport.png" class="selo">
                    </span>
                    <h4 class="cidade">Rio de Janeiro-RJ</h4>
                    <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>

                <div class="usuario">
                    <img src="assets/atleta_4.png" class="foto-clube">
                    <h4 class="nome-clube">Atlético Mineiro</h4>
                    <h4 class="cidade">Belo Horizonte-MG</h4>
                    <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                </div>
        </section>

    </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>