<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <title>InveSport | Feed</title>
</head>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <div class="barra-pesquisa">
                <a href="/#" class="link-lupa"><i class='bx bx-search' id="lupa"></i></a>
                <input type="search" placeholder="Pesquise aqui" class="pesquisa">
            </div>
            <h2 class="novos-perfis">Conheça novos perfis</h2>
            <h4 class="apoie">Apoie o esporte brasileiro!</h4>

            <section id="atletas">
                <div class="altetas-direita">
                    <a href="/Perfis_Atletas" class="btn-atletas">
                        <img src="/assets/home/atleta-circulo.png" class="icone-atleta">
                        <h3 class="titulo">Atletas</h3>
                    </a>

                    <div class="usuario">
                        <img src="/assets/atletas/atleta_1.jpg" class="foto-atleta">
                        <span class="linha-nome">
                            <h4 class="nome-atleta">João Victor</h4>
                            <img src="/assets/selo_invesport.png" class="selo">
                        </span>
                        <h4 class="cidade">Barueri-SP</h4>
                        <a href="/perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>

                    <div class="usuario">
                        <img src="assets/atletas/atleta_2.jpg" class="foto-atleta">
                        <span class="linha-nome">
                            <h4 class="nome-atleta">Fabricio Santos</h4>
                            <img src="assets/selo_invesport.png" class="selo">
                        </span>
                        <h4 class="cidade">Osasco-SP</h4>
                        <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>

                    <div class="usuario">
                        <img src="assets/atletas/atleta_1.jpg" class="foto-atleta">
                        <span class="linha-nome">
                            <h4 class="nome-atleta">João Victor</h4>
                            <img src="assets/selo_invesport.png" class="selo">
                        </span>
                        <h4 class="cidade">Rio de Janeiro-RJ</h4>
                        <a href="/perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>

                    <div class="usuario">
                        <img src="assets/atletas/atleta_2.jpg" class="foto-atleta">
                        <h4 class="nome-atleta">João Henrique</h4>
                        <h4 class="cidade">Barueri-SP</h4>
                        <a href="/perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>
                </div>

                <div class="atletas-esquerda">
                    <a href="/feed-clube" class="btn-clubes">
                        <img src="/assets/home/time-circulo.png" class="icone-clubes">
                        <h3 class="titulo">Clubes</h3>
                    </a>

                    <div class="usuario">
                        <img src="/assets/times/Fluminense.jpg" class="foto-atleta">
                        <span class="linha-nome">
                            <h4 class="nome-atleta">Fluminense F...</h4>
                            <img src="assets/selo_invesport.png" class="selo">
                        </span>
                        <h4 class="cidade">Laranjeiras-RJ</h4>
                        <a href="/perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>

                    <div class="usuario">
                        <img src="/assets/times/EC-BAHIA.png" class="foto-atleta">
                        <span class="linha-nome">
                            <h4 class="nome-atleta">Esporte Clube...</h4>
                            <img src="assets/selo_invesport.png" class="selo">
                        </span>
                        <h4 class="cidade">Salvador-BA</h4>
                        <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>

                    <div class="usuario">
                        <img src="assets/times/Fluminense.jpg" class="foto-atleta">
                        <span class="linha-nome">
                            <h4 class="nome-atleta">Fluminense F...</h4>
                            <img src="assets/selo_invesport.png" class="selo">
                        </span>
                        <h4 class="cidade">Laranjeiras-RJ</h4>
                        <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>

                    <div class="usuario">
                        <img src="assets/times/EC-BAHIA.png" class="foto-atleta">
                        <h4 class="nome-atleta">Esporte Clube...</h4>
                        <h4 class="cidade">Salvador-BA</h4>
                        <a href="perfil-atleta" class="ver-perfil">Ver perfil</a>
                    </div>
                </div>
            </section>

        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>