<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home-cadastrada.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header-perfil.ejs') %>

        <main>
            <input type="search" placeholder="Pesquise aqui" class="pesquisa">

            <div class="veja">
                <span id="text-veja">Veja</span>
                <div class="icon-veja">
                    <div id="veja-atleta">
                        <a href="/feed" class="ver"><img src="/assets/home/perfil.png" class="filtro-atleta"></a>
                        <span class="text-veja">Perfis</span>
                    </div>
                    <div id="veja-clubes">
                        <a href="/como-doar" class="ver"><img src="/assets/home/como-doar.png" class="filtro-clube"></a>
                        <span class="text-veja">Como doar</span>
                    </div>
                    <div id="veja-esportes">
                        <a href="/trabalhe-conosco" class="ver"><img src="/assets/home/sobre-icon.png" class="filtro-sobre"></a>
                        <span class="text-veja">Sobre</span>
                    </div>
                </div>
            </div>

            <div class="times">
                <div class="titulo-times">
                    <h6>Clubes</h6>
                    <a><i class='bx bx-chevron-right' id="seta-left"></i></a>
                </div>
                <div class="box-clube1">
                    <img src="/assets/home/oeste barueri.jfif" class="oeste">
                    <div class="text-clube1">
                        <h4 id="text-oeste">Oeste Barueri</h4>
                        <h4 id="cidade-barueri">Barueri - SP</h4>
                        <div class="linha-sports1">
                            <img src="/assets/home/bola-futebol-48px.png" id="i-bolafut1">
                        </div>
                    </div>
                </div>
                <div class="box-clube2">
                    <img src="/assets/home/osasco voleibol .jfif" class="osasco">
                    <div class="text-clube2">
                        <h4 id="text-osasco">Osasco</h4>
                        <h4 id="cidade-osasco">Osasco - SP</h4>
                        <div class="linha-sports2">
                            <img src="/assets/home/bola-de-volei-48px.png" id="i-bolavolei2">
                        </div>
                    </div>

                </div>
                <div class="box-clube3">
                    <img src="assets/pinheiros.jfif" class="pinheiros">
                    <div class="text-clube3">
                        <h4 id="text-pinheiros">Pinheiros</h4>
                        <h4 id="cidade-pinheiros">Pinheiros - SP</h4>
                        <div class="linha-sports3">
                            <img src="assets/bola-de-volei-48px.png" id="i-bolavolei3">
                            <img src="assets/bola-futebol-48px.png" id="i-bolafut3">
                            <img src="assets/bola-basquete-48px.png" id="i-bolabasq3">
                            <img src="assets/bola-rugbi-48px.png" id="i-bolarugbi3">
                            <img src="assets/mais.png" id="i-mais3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="atletas">
                <div class="titulo-atletas">
                    <h6>Atletas</h6>
                    <a><i class='bx bx-chevron-right' id="seta-left"></i></a>
                </div>
                <div class="box-atleta1">
                    <img src="assets/38919-atleta-profissiona.jpg" class="joao">
                    <div class="text-atleta1">
                        <h4 id="text-joao">João Victor</h4>
                        <h4 id="cidade-barueri">Barueri - SP</h4>
                        <div class="linha1">
                            <img src="assets/atletismo-48px.png" id="i-atletismo">
                            <h4>SUB-21</h4>
                        </div>
                    </div>
                </div>
                <div class="box-atleta2">
                    <img src="assets/osasco voleibol .jfif" class="victor">
                    <div class="text-atleta2">
                        <h4 id="text-victor">Victor da Graça</h4>
                        <h4 id="cidade-osasco">Osasco - SP</h4>
                        <div class="linha2">
                            <img src="/assets/bola-de-volei-48px.png" id="i-bolavolei2">
                        </div>
                    </div>

                </div>
                <div class="box-atleta3">
                    <img src="/assets/juliana.jpg" class="juliana">
                    <div class="text-atleta3">
                        <h4 id="text-juliana">Juliana Barbosa</h4>
                        <h4 id="cidade-pinheiros">Pinheiros - SP</h4>
                        <div class="linha3">
                            <img src="/assets/bola-futebol-48px.png" id="i-bolafut3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-plano">
                <img src="/assets/home/plano-256px.png" id="i-plano">
                <h3 id="ass-destaque">Assinatura Destaque</h3>
                <ul id="topicos">
                    <li>Selo destaque</li>
                    <li>Maior visibilidade</li>
                    <li>Publicações com até 10 fotos</li>
                </ul>
                <span id="preco-plano">R$9,90<h6 id="mes">/mês</h6></span>
                <button href="" id="btn-assinar">ASSINAR</button>
            </div>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>