<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/css/home-cadastrada.css">
        <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header-perfil.ejs') %>

        <main>
            <div class="veja">
                <span id="text-veja">Veja</span>
                <div class="icon-veja">
                    <div id="veja-atleta">
                        <a class="ver-perfil"><img src="/assets/home/perfil.png" class="filtro-atleta"></a>
                        <span id="text-atletas">Perfis</span>
                        <button id="btn-ver"><a href="/feed">Ver mais</a></button>
                    </div>
                    <div id="veja-clubes">
                        <a class="ver-doacao"><img src="/assets/home/como-doar.png" class="filtro-clube"></a>
                        <span id="text-clubes">Como doar</span>
                        <button id="btn-ver"><a href="/como-doar">Ver mais</a></button>
                    </div>
                    <div id="veja-sobre">
                        <a class="ver-sobre"><img src="/assets/home/sobre-icon.png" class="filtro-sobre"></a>
                        <span id="text-sobre">Sobre</span>
                        <button id="btn-ver"><a href="/#">Ver mais</a></button>
                    </div>
                </div>
            </div>

            <section>
                <div class="doacao">
                    <img src="/assets/home-cadastrada/doacao-branco.png" class="i-doacao">
                    <div class="text-doacao">
                        <h4 class="title-doacao">Ajude os clubes e atletas, faça uma doação!</h4>
                        <button class="btn-doar"><a href="/feed">Doar</a></button>
                    </div>
                </div>

                <div class="tarefas">
                    <img src="/assets/home-cadastrada/agenda-laranja.png" class="i-calendario-user">
                    <div class="text-tarefas">
                        <h4 class="title-tarefas">Muitas atividades para fazer? <br> O InveSport te ajuda, com o nosso gerenciador de tarefas</h4>
                        <button class="btn-tarefas"><a href="/tarefas">Tarefas</a></button>
                    </div>
                </div>

                <div class="perfis">
                    <img src="/assets/home-cadastrada/perfis-branco.png" class="i-foto">
                    <div class="text-perfis">
                        <h4 class="title-perfis">Conheça os atletas e clubes do InveSport</h4>
                        <button class="btn-perfis"><a href="/feed">Perfis</a></button>
                    </div>
                </div>

            </section>

            <div class="box-plano">
                <img src="/assets/home/plano-256px.png" id="i-plano">
                <h3 id="ass-destaque">Assinatura Destaque</h3>
                <ul id="topicos">
                    <div class="ass-selo">
                        <img src="/assets/home/medalha.png" alt="" class="img-selo">
                        <li class="t-selo">Selo destaque</li>
                    </div>
                    <div class="ass-metas">
                        <img src="/assets/home/subindo-metas.png" alt="" class="img-metas">
                        <li class="t-metas">Adicionar mais de uma meta</li>
                    </div>
                    <div class="ass-doacoes">
                        <img src="/assets/home/maiores-doacoes.png" alt="" class="img-doacoes">
                        <li class="t-doacoes">Maiores chances de receber doações</li>
                    </div>
                </ul>
                <span id="preco-plano">R$9,90<h6 id="mes">/mês</h6></span>
                <button href="/assinatura" id="btn-assinar"><a href="/assinatura"> ASSINAR </a></button>
            </div>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>