<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="css/index.css"> 
    <title><%- data.page_name %></title>
    <meta name="mnd-ver" content="6dzq83tivsmksvb0iy0rg" />
    <script async src="https://ss.mndsrv.com/native.js"></script>
</head>
<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <section id="banner-home">
                <div class="banner">
                    <img src="/assets/home/boneco-azul.png" class="boneco">
                    <span class="texto-banner">AJUDE O ESPORTE NO BRASIL, DOE PELO INVESPORT</span>
                    <button class="btn-cadastro-home"><a href="/feed">DOAR</a></button>
                </div>
            </section>

            <a href="" name="somos" class="ancora"> <h2 id="conheca">Conheça o <span id="inve">Inve</span><span id="sport">Sport</span></h2></a>
            <div class="somos"> 
                <img src="/assets/logo/128px.png" id="logo-somos">
                <div class="text-somos">
                    <h4 class="title-somos">O que somos?</h4>
                    <a href="" name="encontre" class="ancora">
                <p class="p-somos">O InveSport é um site que busca trazer mais investimento, visibilidade e
                        incentivo ao esporte de nível nacional, tanto para atletas quanto para clubes, que buscam melhor
                        condição para prática e ajuda financeira. 
                    </p>
                    </a>
                </div>
            </div>

            <section>
                <h2 class="encontre">Aqui no InveSport você tem</h2></a>
                <div class="box-funcionalidades">

                    <div class="doacao">
                        <img src="/assets/home/dinheiro-doacao.png" class="i-doacao">
                        <h4 class="title-doacao">Doação para clubes e atletas</h4>
                    </div>

                    <div class="agenda">
                        <img src="/assets/home/agenda.png" class="i-calendario-user">
                        <h4 class="title-agenda">Gerenciador de tarefas</h4>
                    </div>

                    <div class="perfil">
                        <img src="/assets/home/feed.png" class="i-foto">
                        <h4 class="title-perfil">Comunidade de atetlas e clubes</h4>
                    </div>

                    <div class="/assinatura">
                        <img src="/assets/home/planos.png" class="i-plano">
                        <h4 class="title-assinatura">Assinatura para destaque</h4>
                    </div>

                </div>
            </section>
            <div class="box-cadastrar-se">
                <h4 id="faca-parte">Faça parte do <span id="inve2">Inve</span><span id="sport2">Sport</span></h4>
                <p id="text-cadastrar">Gostou? Clique no botão abaixo, cadastre-se gratuitamente e aproveite</p>
                <button id="botao-cadastrar-ja"><a href="cadastro-atleta">CADASTRA-SE JÁ</a></button>
            </div>

            <aside id="publicidade">
                <div data-mndazid="c09bfd39-c844-4440-b9b0-38200a648bde" class="anuncio-mondiad"></div>
            </aside>

            <div class="veja">
                <span id="text-veja">Veja</span>
                <div class="icon-veja">
                    <div id="veja-atleta">
                        <a href="" class="ver-perfil"><img src="/assets/home/perfil.png" class="filtro-atleta"></a>
                        <span id="text-atletas">Perfis</span>
                        <button id="btn-ver"><a href="#">Ver mais</a></button>
                    </div>
                    <div id="veja-clubes">
                        <a href="" class="ver-doacao"><img src="/assets/home/como-doar.png" class="filtro-clube"></a>
                        <span id="text-clubes">Como doar</span>
                        <button id="btn-ver"><a href="#">Ver mais</a></button>
                    </div>
                    <div id="veja-sobre">
                        <a href="" class="ver-sobre"><img src="/assets/home/sobre-icon.png" class="filtro-sobre"></a>
                        <span id="text-sobre">Sobre</span>
                        <button id="btn-ver"><a href="#">Ver mais</a></button>
                    </div>
                </div>
            </div>

            <div class="box-plano">
                <img src="assets/home/plano-256px.png" id="i-plano">
                <h3 id="ass-destaque">Assinatura Destaque</h3>
                <ul id="topicos">
                    <div class="ass-selo">
                        <img src="assets/home/medalha.png" alt="" class="img-selo">
                        <li class="t-selo">Selo destaque</li>
                    </div>
                    <div class="ass-metas">
                        <img src="assets/home/subindo-metas.png" alt="" class="img-metas">
                        <li class="t-metas">Adicionar mais de uma meta</li>
                    </div>
                    <div class="ass-doacoes">
                        <img src="assets/home/maiores-doacoes.png" alt="" class="img-doacoes">
                        <li class="t-doacoes">Maiores chances de receber doações</li>
                    </div>
                </ul>
                <span id="preco-plano">R$9,90<h6 id="mes">/mês</h6></span>
                <button href="" id="btn-assinar">ASSINAR</button>
            </div>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>