<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="css/login-atleta.css">
    <title><%- data.page_name %></title>
</head>
<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <div class="container-login">
                <div class="container">
                    <span class="span-user"><img src="assets/home/perfil.png" class="i-user"></span>
                    <h2 class="t-user">Usuário</h2>
                </div>

                <div class="container-input">
                    <form class="formulario" method="post" action="/login-atleta">
                        <span class="campos-form">
                            <label class="titulo-cpf">E-mail<p class="asteristico">*</p></label>
                            <div class="cpf">
                                <input type="cpf" placeholder="Insira seu e-mail" name="email" class="campo-cpf">
                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                            <label class="titulo-senha">Senha<p class="asteristico">*</p></label>
                            <div class="senha">
                                <input type="password" placeholder="Insira sua senha" name="senha" class="campo-senha">
                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                        </span>

                        <span class="esqueceu-senha">Esqueceu sua senha? <a href="/recuperar-senha" class="cadastre"> Redefinir senha</a></span>

                        <div class="entrar">
                            <button type="submit" id="entrar">ENTRAR</button>
                            <span class="cadastrar">Não possui cadastro? 
                                <a href="/cadastro-atleta" class="cadastre">Cadastre-se</a>
                            </span>

                        </form>
                        </div>
            </div>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>