<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" type="text/css" href="css/login-clube.css">
    <title><%- data.page_name %></title>
</head>

<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <div class="container-login">
                <div class="container">
                    <img src="assets/cadastro-login/time-circulo.png" class="i-clube">
                    <h2 class="t-clube">Clube</h2>
                </div>

                <div class="btn">
                    <a href="login-clube"><button id="btn-clube">Clube</button></a>
                    <a href="login-atleta"><button id="btn-atleta">Atleta</button></a>*/
                </div>

                <div class="container-input">
                    <form class="formulario">
                        <span class="campos-form">
                            <label class="titulo-cnpj">E-mail<p class="asteristico">*</p></label>
                            <div class="cnpj">
                                <input type="cnpj" placeholder="Insira seu e-mail" class="campo-cnpj">
                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                            <label class="titulo-senha">Senha<p class="asteristico">*</p></label>
                            <div class="senha">
                                <input type="password" placeholder="Insira sua senha" class="campo-senha">
                                <span class="bottom"></span>
                                <span class="right"></span>
                                <span class="top"></span>
                                <span class="left"></span>
                            </div>
                        </span>

                        <div class="entrar">
                            <button type="submit" id="entrar"><a href="home-cadastrada" id="entrar">ENTRAR</a></button>
                        </div>
                        <span class="cadastrar">Não possui cadastro? <a href="cadastro-atleta"
                                class="cadastre">Cadastre-se</a></span>
                    </form>
                </div>
            </div>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>