<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header.ejs') %>

    <%- include('../templates/rodape.ejs') %>
</body>
</html>