<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header.ejs') %>

    <%- include('../templates/rodape.ejs') %>
</body>
</html>