<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="css/perfil-clube.css">
    <title>INVESPORT | Seu perfil</title>
</head>

<body>
    <header>
        <nav class="cabecalho">
            <button class="btn-menu" data-menu-btn><i class='bx bx-menu' id="i-menu"></i></button>
            <div class="mobile-menu" data-menu>
                <ul>  
                    <div class="itens">
                        <li class="nav-item"><a href="feed-Atleta" class="nav-link">Agenda</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="feed-atletas" class="nav-link">Clubes e Altetas</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="home-cadastrada" class="nav-link">Como fazer uma doação</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="assinatura" class="nav-link">Assinaturas</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="duvidas-frequentes" class="nav-link">Fale conosco</a></li>
                    </div>
                    <hr>
                    <div class="btn-login-menu">
                        <a href="login-atleta"><button class="login-menu">Entrar</button></a>
                        <a href="cadastro-atleta"><button class="cadastro-menu">Cadastrar-se</button></a>
                    </div>
                </ul>
            </div>
            <a href="/home-cadastrada"><img src="assets/logo/logo-horizontal.png" class="logo-invesport" ></a>
            <a href="login-atleta"><i class='bx bx-user-circle' id="i-user"></i></a>
        </nav>    
    </header>

        <main>
            <section>
                <div>
                    <img src="assets/perfil/bannerperfil.jpeg">
                    <img src="assets/perfil/perfilbola.svg">
                    <h2>NOME</h2>
                    <h4>Barueri-SP</h4>
                </div>
            </section>
            <section>
                <div>
                    <img src="assets/perfil/estrela.svg">
                    <p>META</p>
                    <p>Passagem para o Campeonato Nacional no Rio de Janeiro</p>
                    <img src="assets/perfil/barrameta.svg">
                    <p>R$694,73 - R$1,000</p>
                </div>
                <div>
                    <h3>Esporte</h3>
                    <i class='bx bx-football' style='color:#ff5b00'></i>
                    <i class='bx bx-basketball' style='color:#ff5b00'></i>
                    <i class='bx bx-tennis-ball' style='color:#ff5b00'></i>
                </div>
                <div>
                    <h1>Apoie o atleta "nome do clube".</h1>
                    <button>DOAR</button>
                </div>
            </section>
            <section>
                <div>
                    <h4>Publicações</h4>
                    <h4>Sobre</h4>
                </div>
                <div>
                    <img src="assets/perfil/postimg.svg" alt="">
                    <i class='bx bx-heart' style='color:#14248a'></i>
                    <i class='bx bx-message-rounded-dots' style='color:#14248a'></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                </div>
                <div>
                    <img src="assets/perfil/postimg.svg" alt="">
                    <i class='bx bx-heart' style='color:#14248a'></i>
                    <i class='bx bx-message-rounded-dots' style='color:#14248a'></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                </div>
                <a href="#">Ver mais publicações</a>
            </section>
        </main>
        
        <%- include('../templates/rodape.ejs') %>
</body>

</html>