<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="css/perfil-atleta.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <header>
        <nav class="cabecalho">
            <button class="btn-menu" data-menu-btn><i class='bx bx-menu' id="i-menu"></i></button>
            <div class="mobile-menu" data-menu>
                <ul>  
                    <div class="itens">
                        <li class="nav-item"><a href="feed-Atleta" class="nav-link">Agenda</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="feed-atletas" class="nav-link">Clubes e Altetas</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="home-cadastrada" class="nav-link">Como doar</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="assinatura" class="nav-link">Assinaturas</a></li>
                    </div>
                    <hr>
                    <div class="itens">
                        <li class="nav-item"><a href="duvidas-frequentes" class="nav-link">Fale conosco</a></li>
                    </div>
                    <hr>
                    <div class="btn-login-menu">
                        <a href="login-atleta"><button class="login-menu">Entrar</button></a>
                        <a href="cadastro-atleta"><button class="cadastro-menu">Cadastrar-se</button></a>
                    </div>
                </ul>
            </div>
            <a href="/home"><img src="assets/logo/logo-horizontal.png" class="logo-invesport" ></a>
            <a href="login-atleta"><i class='bx bx-user-circle' id="i-user"></i></a>
        </nav>    
    </header>

        <main>
            <section>
                <div class="pic-perfil">
                    <img src="assets/perfil/bannerperfil.jpeg" class="capa-perfil">
                    <img src="assets/perfil/perfil-victor.jpeg" class="foto-perfil">
                </div>
                <h2 class="titulo-perfil">Victor Rocha</h2>
                <div class="redes-sociais">
                    <i class='bx bxl-facebook-square' style='color:#ff540b'></i>
                    <i class='bx bxl-instagram' style='color:#ff540b'></i>
                </div>
            </section>
            <section class="bio">
                <div class="info-bio">
                    <span class="clube">
                        <h4 class="text-clube">Guaratinguetá</h4>
                        <h3 class="t-clube">Clube</h3>
                    </span>
                    <span class="esporte">
                        <h4 class="text-esporte">Futebol</h4>
                        <h3 class="t-esporte">Esporte</h3>
                    </span>
                </div>
                <div class="button-bio">
                    <button class="b-doar"><a href="#">Doar</a></button>
                </div>

                <div class="info-meta">
                    <p class="desc-meta">Passagem para o Campeonato </p>
                    <div class="ls-animated"></div>
                    <p class="valor">R$694,73 - R$1,000</p>
                </div>
            </section>
            <hr class="linha-bio">
            <section>
                <div class="secao-perfil">
                    <a class="t-publicacoes" href="#">Publicações</a>
                    <a class="t-sobre" href="#">Sobre</a>
                    <a class="t-doacoes" href="#">Doações</a>
                    <a class="t-metas" href="#">Metas</a>
                </div>
                <div>
                    <img src="assets/perfil/feed-victor3.jpeg" alt="" class="feed">
                    <div class="interacao-post">
                        <i class='bx bx-heart'></i>
                        <i class='bx bx-message-rounded-dots'></i>
                        <p class="legenda">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                    </div>
                </div>
            </section>

        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>