<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="css/perfil-clube.css">
    <title>INVESPORT</title>
</head>

<%- include('../templates/head.ejs') %>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <section>
                <div>
                    <img src="imgs/perfil/bannerperfil.jpeg">
                    <img src="imgs/perfil/perfilbola.svg">
                    <h2>NOME</h2>
                    <h4>Barueri-SP</h4>
                </div>
            </section>
            <section>
                <div>
                    <img src="imgs/perfil/estrela.svg">
                    <p>META</p>
                    <p>Passagem para o Campeonato Nacional no Rio de Janeiro</p>
                    <img src="imgs/perfil/barrameta.svg">
                    <p>R$694,73 - R$1,000</p>
                </div>
                <div>
                    <h3>Esporte</h3>
                    <i class='bx bx-football' style='color:#ff5b00'></i>
                    <i class='bx bx-basketball' style='color:#ff5b00'></i>
                    <i class='bx bx-tennis-ball' style='color:#ff5b00'></i>
                </div>
                <div>
                    <h1>Apoie o atleta "nome do clube".</h1>
                    <button>DOAR</button>
                </div>
            </section>
            <section>
                <div>
                    <h4>Publicações</h4>
                    <h4>Sobre</h4>
                </div>
                <div>
                    <img src="imgs/perfil/postimg.svg" alt="">
                    <i class='bx bx-heart' style='color:#14248a'></i>
                    <i class='bx bx-message-rounded-dots' style='color:#14248a'></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                </div>
                <div>
                    <img src="imgs/perfil/postimg.svg" alt="">
                    <i class='bx bx-heart' style='color:#14248a'></i>
                    <i class='bx bx-message-rounded-dots' style='color:#14248a'></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>
                </div>
                <a href="#">Ver mais publicações</a>
            </section>
        </main>
        
        <%- include('../templates/rodape.ejs') %>
</body>

</html>