<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/politica-uso.css">
    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header.ejs') %>
   <div>
    <h2 id="lgpd">LGPD - Lei Geral de Proteção de Dados</h1>
    <p id="legenda">Segundo o site do Governo Federal, a Lei Geral de Proteção de Dados Pessoais (LGPD), Lei n° 13.709/2018, foi promulgada para proteger os direitos fundamentais de liberdade e de privacidade e a livre formação da personalidade de cada indivíduo. A Lei fala sobre o tratamento de dados pessoais, dispostos em meio físico ou digital, feito por pessoa física ou jurídica de direito público ou privado, englobando um amplo conjunto de operações que podem ocorrer em meios manuais ou digitais A Lei estabelece uma estrutura legal de direitos dos(as) titulares de dados pessoais. Esses direitos devem ser garantidos durante toda a existência do tratamento dos dados pessoais realizado pelo órgão ou entidade. Para o exercício dos direitos dos(as) titulares, a LGPD prevê um conjunto de ferramentas que aprofundam obrigações de transparência ativa e passiva, e criam meios processuais para mobilizar a Administração Pública.</p>
    </div>
    <div>
        <h2 id="politica">Política de Privacidade</h2>
    </div>
    <div>
        <h4 class="titulos">SEÇÃO 1 - INFORMAÇÕES GERAIS</h4>
        <p class="paragrafo">A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e visitantes do site InveSport, com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações pessoais.</p>
        <p class="paragrafo">Esta Política de Privacidade aplica-se a todos os usuários e visitantes do InveSport e integra os Termos e Condições Gerais de Uso do site.</p>
        <p class="paragrafo">O presente documento foi elaborado em conformidade com a Lei Geral de Proteçâo de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) (e o Regulamento da UE n. 2016/6790). Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>  
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 2 - COMO RECOLHEMOS OS DADOS PESSOAIS DO USUÁRIO E DO VISITANTE?</h4>
        <p class="paragrafo">Os dados pessoais do usuário e visitante são recolhidos pela plataforma da seguinte forma:</p>
        <p class="paragrafo">Quando o usuário cria uma conta/perfil na plataforma: esses dados são os dados de identificação básicos e dados relacionados à função do site, como o email, modalidade, data de nascimento ou o CNPJ. A partir deles, podemos identificar o usuário, além de garantir o funcionamento dos serviços do site. Ficam cientes os usuários e visitantes de que seu perfil na plataforma estará acessível a todos demais usuários e visitantes da plataforma InveSport.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 3 - QUAIS DADOS PESSOAIS RECOLHEMOS SOBRE O USUÁRIO E VISITANTE?</h4>
        <p class="paragrafo">Os dados pessoais do usuário e visitante recolhidos são os seguintes:</p>]
        <p class="paragrafo">Dados obrigatórios para a criação da conta/perfil como atleta no InveSport: nome completo, modalidade em que atua, categoria ao qual pertence, estado e cidade que atua, email (pessoal ou do clube), senha de acesso.</p>
        <p class="paragrafo">Dados opcionais para a criação da conta/perfil como atleta no InveSport: CNPJ do clube em que atua, data de nascimento, telefone (pessoal ou do clube).</p>
        <p class="paragrafo">Dados obrigatórios para a criação da conta/perfil como clube no InveSport: nome do clube, CNPJ atualizado, estado e cidade em que atua, email, senha de acesso.</p>
        <p class="paragrafo">Dados opcionais para a criação da conta/perfil como clube no InveSport: site do próprio clube e telefone para contato.</p>
        <p class="paragrafo">Nenhum dado bancário é coletado na realização de doações, pois a doação não é efetuado através do nosso site. O único meio de doação é através do qr code anexado no perfil do usuário no site, por conta própria.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 4 - PARA QUE FINALIDADES UTILIZAMOS OS DADOS PESSOAIS DO USUÁRIO E VISITANTE?</h4>
        <li class="lista">Marketing: Quando você preenche formulários e se cadastra no site, você poderá receber emails com promoções e novidades do site. Podemos coletar nome e email.</li>
        <li class="lista">Informações de contato: quando você entra em contato conosco, seja por email coletamos as suas informações de contato, como o seu nome, email e a mensagem que você nos enviou.</li>
        <li class="lista">ados de cadastro: para permitir o acesso do usuário a determinados conteúdos da plataforma, exclusivo para usuários cadastrados.</li>
        <p class="paragrafo">O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade podem ocorrer mesmo sem comunicação prévia ao usuário, de modo que os direitos e obrigações aqui previstos possam ser alterados.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 5 - POR QUANTO TEMPO OS DADOS PESSOAIS FICAM ARMAZENADOS?</h4>
        <p class="paragrafo">Os dados pessoais do usuário e visitante são armazenados pela plataforma durante o período em que se mantém cadastrado, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18.</p>
        <p class="paragrafo">Os dados podem ser removidos a pedido do usuário, excetuando os casos em que a lei oferecer outro tratamento.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 6 - SEGURANÇA DOS DADOS PESSOAIS ARMAZENADOS</h4>
        <p class="paragrafo">A plataforma não se responsabiliza caso seja vítima de ações maliciosas de terceiros, como em caso de ataque de hackers ou crackers, ou ações exclusivas do usuário, como no caso em que ele mesmo transfere seus dados a terceiros. O site se compromete apenas em comunicar o usuário em caso de identificação de violação de segurança dos seus dados pessoais.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 7 - COMPARTILHAMENTO DOS DADOS</h4>
        <p class="paragrafo">O compartilhamento de dados do usuário ocorre apenas com os dados solicitados no cadastro do usuário atleta/clube ou com os dados solicitados na conclusão da doação.</p>
        <p class="paragrafo">Os dados do perfil do usuário são compartilhados publicamente em sistemas de busca e dentro da plataforma.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 8 - COOKIES OU DADOS DE NAVEGAÇÃO</h4>
        <p class="paragrafo">Os cookies referem-se a arquivos de texto enviados pela plataforma ao computador do usuário e visitante e que nele ficam armazenados, com informações relacionadas à navegação no site. Tais informações são relacionadas aos dados de acesso como local e horário de acesso e são armazenadas pelo navegador do usuário e visitante para que o servidor da plataforma possa lê-las posteriormente a fim de personalizar os serviços da plataforma.</p>
        <p class="paragrafo">O cookie persistente permanece no disco rígido do usuário e visitante depois que o navegador é fechado e será usado pelo navegador em visitas subsequentes ao site. Os cookies persistentes podem ser removidos seguindo as instruções do seu navegador. Já o cookie de sessão é temporário e desaparece depois que o navegador é fechado. É possível redefinir seu navegador da web para recusar todos os cookies, porém alguns recursos da plataforma podem não funcionar corretamente se a capacidade de aceitar cookies estiver desabilitada.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 9 - CONSENTIMENTO</h4>
        <p class="paragrafo">Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a presente Política de Privacidade.</p>
        <p class="paragrafo">O usuário, ao cadastrar-se, manifesta conhecer e pode exercitar seus direitos de cancelar seu cadastro, acessar e atualizar seus dados pessoais e garante a veracidade das informações por ele disponibilizadas.</p>
    </div>

    <div>
        <h4 class="titulos">SEÇÃO 10 - ALTERAÇÕES PARA ESSA POLÍTICA DE PRIVACIDADE</h4>
        <p class="paragrafo">Reservamos o direito de modificar essa Política de Privacidade a qualquer momento, então, é recomendável que o usuário e visitante revise-a com frequência.</p>
    </div>

    <%- include('../templates/rodape.ejs') %>

</body>
</html>