<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/redefinir-senha.css"> 
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header.ejs') %>

        <main>
            <% if (data.email_sended) { %>
                <h1>Email enviado</h1>
            <% } else { %>
                <div class="box">
                <h2 class="recupere">Recupere sua senha</h2> <br>

                <p class="envie-email">Envie um email para recuperar sua senha!</p> <br>

                <form action="/recuperar-senha" method="post">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email"> <br>

                    <button type="submit" id="enviar">Enviar email</button>
                </form>
                </div>
            <% } %>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>