<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/tarefas.css">
    <script src="/js/agenda.js" defer></script>
    <title><%- data.page_name %></title>
</head>
<body>
  <main>
    <%- include('../templates/header.ejs') %>
    <div class="titulo">
      <h1>Olá, [atleta/clube]</h1>
      <span class= span>Bem vindo(a)!</span>
    </div>
    <div class="container">
        <div class="todo-app">
          <h2>Tarefas</h2>
          <div class="row">
            <input type="text" id="inputbox" placeholder="Escreva sua tarefa">
            <input type="date" id="inputbox2" placeholder="Prazo da tarefa"> 
            
            <button id="botao-add">Add</button>
          </div>
    <div id="slide">
         <!-- <div class="card" id="card">
               <p class="output1" id="output1"></p>
              <h6>Prazo:</h6>
              <span class="output2" id="output2"></span>
            </div>  -->
        </div> 
          </ul>
        </div>
    </div>
    

    <%- include('../templates/rodape.ejs') %>
  </main>
</body>
</html>