<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/tarefas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/assets/fonts/fonts.css">
    <title>InveSport</title>
</head>
<body>
    <h1>Olá, [atleta/clube]</h1>
    <span class= span>Bem vindo(a)!</span>
    <div class="container">
        <div class="todo-app">
          <h2>Tarefas</h2>
          <div class="row">
            <input type="text" id="inputbox" placeholder="Escreva sua tarefa">
            <input type="date" id="inputbox2" placeholder="Prazo da tarefa"> 
            
            <button onclick="addTask()" id="botao">Add</button>
          </div>
    <div id="slide">
         <!-- <div class="card" id="card">
               <p class="output1" id="output1"></p>
              <h6>Prazo:</h6>
              <span class="output2" id="output2"></span>
            </div>  -->
        </div> 
          </ul>
        </div>
    </div>
  <script scr="tarefa.js"></script>
</body>
</html>