<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/css/termos.css" />
    <title><%- data.page_name %></title>
</head>

<body>
  <%- include('../templates/header.ejs') %>

    <main>
      <div>
        <h1 class="titulo">TERMOS E CONDIÇÕES DE USO</h1>
        <h6 class="atualizado">Atualizado em: 06/10/2023</h6>
      </div>

      <div>
        <h4 class="subtitulo">Seja bem vindo ao InveSport!</h4>
        <span class="legenda">Leia atentamente todos os termos abaixo.</span>
      </div>

      <div>
        <p class="paragrafo">
          Este documento e todo o conteúdo do site é fornecido pela Fundação
          Instituto de Educação de Barueri (FIEB), neste termo representado apenas
          por InveSport, reguardado todos os direitos previstos na legislação,
          trazem as cláusulas abaixo como requisito para acesso e visita do mesmo,
          situado no endereço invesport.netlify.app.
        </p>
        <p class="paragrafo">
          A permanência no website implica-se automaticamente na leitura e
          aceitação tácita do presente termos de uso a seguir. Este termo foi
          atualizado pela última vez em 15 de maio de 2023.
        </p>
      </div>

      <div>
        <h3 class="titulos">1. Da retência do direito de mudar de oferta</h3>
        <p class="paragrafo">
          Podemos, sem aviso prévio, alterar os serviços; deixar de fornecer os
          serviços ou quaisquer recursos dos serviços que oferecemos; ou criar
          limites para os serviços.
        </p>
        <p class="paragrafo">
          Os itens descritos no presente instrumento poderão sofrer alterações,
          unilateralmente e a qualquer tempo, por parte dos desenvolvedores, para
          adequar ou modificar os serviços, bem como para atender novas exigências
          legais.
        </p>
      </div>

      <div>
        <h3 class="titulos">2. Da função do site</h3>
        <p class="paragrafo">
          Este site foi criado e desenvolvido com a função de ajudar
          financeiramente e dar visibilidade para atletas e clubes desportivos
          através de doações efetuadas pelo QR Code anexado na plataforma
          InveSport.
        </p>
        <p class="paragrafo">
          O InveSport busca aumentar e melhorar as oportunidades do cenário
          esportivo brasileiro, focado em pequenos atletas e clubes não
          patrocinados e desenvolvido como trabalho de conclusão de curso por
          alunos da Fundação e Instituto de Educação de Barueri (FIEB).
        </p>
        <p class="paragrafo">
          Nessa plataforma, é possível cadastrar-se como atleta e como clube,
          anexar o QR Code do seu pix no perfil e postar sobre sua rotina para
          receber as doações.
        </p>
      </div>

      <div>
        <h3 class="titulos">3. Da aceitação</h3>
        <p class="paragrafo">
          O presente termo estabelece obrigações contratadas de livre e espontânea
          vontade, por tempo indeterminado, entre a plataforma e as pessoas
          físicas ou jurídicas, usuárias do site.
        </p>
        <p class="paragrafo">
          A aceitação do presente instrumento é imprescindível para o acesso e
          para a utilização de quaisquer serviços fornecidos pela empresa. Caso
          não concorde com as disposições deste instrumento, o usuário não deve
          utilizá-los.
        </p>
        <p class="paragrafo">
          O usuário, ao aceitar os Termos de uso e a Política de Privacidade,
          autoriza expressamente a plataforma a coletar, usar, armazenar, tratar,
          ceder ou utilizar as informações derivadas do uso do site e quaisquer
          plataformas, incluindo todas as informações preenchidas pelo usuário no
          momento em que realizar ou atualizar seu cadastro, além de outras
          expressamente descritas na Política de Privacidade que deverá ser
          autorizada pelo usuário.
        </p>
      </div>

      <div>
        <h3 class="titulos">4. Do acesso ao site</h3>
        <p class="paragrafo">
          Todos os dados estão protegidos conforme a Lei Geral de Proteção de
          Dados, e ao realizar o cadastro junto ao site, o usuário concorda
          integralmente com a coleta de dados conforme a Lei e com a Política de
          Privacidade do InveSport.
        </p>
      </div>

      <div>
        <h3 class="titulos">5. Do cadastro</h3>
        <p class="paragrafo">
          O acesso à certas funcionalidades do site exigirá a realização de um
          cadastro prévio. Ao se cadastrar o usuário deverá informar dados
          completos, recentes e válidos, de acordo com o solicitado, sendo de sua
          exclusiva responsabilidade manter referidos dados atualizados, bem como
          o usuário se compromete com a veracidade dos dados fornecidos.
        </p>
        <p class="paragrafo">
          Após a confirmação do cadastro, o usuário possuirá um login e uma senha
          pessoal, a qual assegura ao usuário o acesso individual à mesma. Desta
          forma, compete ao usuário exclusivamente a manutenção de referida senha
          de maneira confidencial e segura, evitando o acesso indevido às
          informações pessoais.
        </p>
        <p class="paragrafo">
          Toda e qualquer atividade realizada com o uso da senha será de
          responsabilidade do usuário, que deverá informar prontamente a
          plataforma em caso de uso indevido da respectiva senha.
        </p>
        <p class="paragrafo">
          O usuário poderá, a qualquer tempo, requerer o cancelamento de seu
          cadastro junto ao InveSport. O seu descadastramento será realizado o
          mais rapidamente possível, desde que não sejam verificados débitos em
          aberto.
        </p>
      </div>

      <div>
        <h3 class="titulos">6. Da liçenca de uso e cópia</h3>
        <p class="paragrafo">
          O visitante poderá acessar todo o conteúdo do website, como artigos,
          vídeos, imagens, produtos e serviços, não significando nenhum tipo de
          cessão de direito ou permissão de uso, ou de cópia dos mesmo.
        </p>
        <p class="paragrafo">
          Todos os direitos são preservados, conforme a legislação brasileira,
          principalmente na Lei de Direitos Autorais (regulamentada na Lei nº
          9.610/18), assim como no Código Civil brasileiro (regulamentada na Lei
          nº 10.406/02), ou quaisquer outras legislações aplicáveis.
        </p>
        <p class="paragrafo">
          Todo o conteúdo do site é protegido por direitos autorais, e seu uso,
          cópia, transmissão, venda, cessão ou revenda, deve seguir a lei
          brasileira, tendo o InveSport todos os seus direitos reservados, e não
          permitindo a cópia ou utilização de nenhuma forma e meio, sem
          autorização expressa e por escrita da mesma.
        </p>
      </div>

      <div>
        <h3 class="titulos">7. Das obrigações</h3>
        <p class="paragrafo">
          O usuário ao utilizar o website InveSport, concorda integralmente em:
        </p>

        <li class="lista">
          De nenhuma forma ou meio realizar qualquer tipo de ação que tente
          invadir, hackear, destruir ou prejudicar a estrutura do site, plataforma
          da EMPRESA ou de seus parceiros comerciais. Incluindo-se, mas não se
          limitando, ao envio de vírus de computador, de ataques de DDOS, de
          acesso indevido por falhas da mesma ou quaisquer outras forma e meio.
        </li>

        <li class="lista">
          De não realizar divulgação indevida nos comentários do site de conteúdo
          de SPAM, empresas concorrentes, vírus, conteúdo que não possua direitos
          autorais ou quaisquer outros que não seja pertinente a discussão daquele
          texto, vídeo ou imagem. Da proibição em reproduzir qualquer conteúdo do
          site ou plataforma sem autorização expressa, podendo responder civil e
          criminalmente pelo mesmo.
        </li>

        <li class="lista">
          Com a Política de Privacidade do site, assim como tratamos os dados
          referentes ao cadastro e visita no site, podendo a qualquer momento e
          forma, requerer a exclusão dos mesmos, através do formulário de contato.
        </li>

      </div>

      <div>
        <h3 class="titulos">8. Do envio de emails</h3>
        <p class="paragrafo">
          Ao se cadastrar com email próprio, o usuário concorda com o envio de
          notificações e promoções relacionadas ao site.
        </p>
      </div>

      <div>
        <h3 class="titulos">9. Da assinatura do plano de destaque</h3>
        <p class="paragrafo">
          Para o usuário atleta efetuar a assinatura do plano oferecido pela
          plataforma, deverá constar em seu cadastro que sua idade é maior ou
          igual a 16 anos. A plataforma se reserva no direito de reajustar
          unilateralmente, a qualquer tempo, o valor do plano de assinatura ou
          adicionar outros tipos de planos.
        </p>
        <p class="paragrafo">
          Os valores aplicados são aqueles que estão em vigor no momento do
          pedido.
        </p>
        <p class="paragrafo">
          A assinatura será renovada automaticamente pelo site, independentemente
          de comunicação ao usuário, mediante cobrança periódica da mesma forma de
          pagamento indicada pelo usuário quando da contratação do serviço.
        </p>
        <p class="paragrafo">
          O usuário assinante poderá realizar seu cancelamento a qualquer momento
          após a compra.
        </p>
      </div>

      <div>
        <h3 class="titulos">10. Do suporte</h3>
        <p class="paragrafo">
          Em caso de qualquer dúvida, sugestão ou problema com a utilização da
          plataforma, o usuário poderá entrar em contato com o suporte através do
          email invesport@gmail.com.
        </p>
      </div>
    </main>
    <%- include('../templates/rodape.ejs') %>
</body>

</html>