<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="css/trabalho_conosco.css">
    <title>InveSport</title>
</head>

<%- include('../templates/header.ejs')

<body>
    <%- include('../templates/header.ejs') %>
        <main>
            <h1>Sobre o InveSport</h1>
            <p>
                O InveSport é um website desenvolvido como trabalho de conclusão de curso do ensino médio técnico para o
                curso de Informática para a Internet na Fundação Instituto de Educação de Barueri (FIEB). Desde o
                início, o foco do projeto é social, sendo direcionado ao esporte brasileiro e a falta de investimento
                que esse tema enfrenta.
                Sabemos que o esporte brasileiro é, em grande parte, o que mais exportamos em relação à nossa cultura.
                Apesar disso, o cenário desportivo no Brasil carece de financiamento por parte do governo, o que resulta
                em condições precárias de treinamento e pouca chance de retorno dos esforços de atletas e clubes.
                O objetivo principal do InveSport é mudar essa situação e ajudar o esporte brasileiro a conquistar
                maiores possibilidades com apoio do povo.
            </p>
            <h2>Como nos ajudar </h2>
            <img src="assets/trabalhe_conosco/trabalhe_conosco.png" alt="">
            <p>
                Apoie nossos atletas e clubes cadastrados doando direto na conta deles pelos qr codes adicionados em
                seus perfis. Ou, se for atleta/clube interessado em nosso site, cadastre-se, mantenha seu perfil
                atualizado com um qr code anexado e se puder, ajude os outros usuários a conquistarem seus sonhos.
            </p>
        </main>

        <%- include('../templates/rodape.ejs') %>
</body>

</html>